/* css reset */
body {
    margin: unset;
    padding: unset;
}

h1, h2, h3, h4, span, p {
    margin: unset;
    padding: unset;
    font-size: unset;
    font-weight: unset;
}

/* ::-webkit-scrollbar {
    display: none;
} */

img {
    vertical-align: top;
    max-width: 100%;
}

button {
    all: unset;
}

/* CSS variables */
:root {
    /* colors */
    --color-gray-30: #E5E5E5;
    --color-gray-70: #707072;
    --color-white: #FFF;
    --color-black: #000;
}
/* Typography */
:root {
    font-family: 'Noto Sans KR', sans-serif;
}

/* Layout */
.wrapper {
    margin: 0 auto;
    max-width: 360px;
    box-shadow: inset 0 0 20px paleturquoise;
    position: relative;
}

.container {
    margin: 12px 24px 48px;
    box-shadow: inset 0 0 20px pink;
}

.header {
    box-shadow: inset 0 0 20px gold;
    display: flex;
    justify-content: space-between;
    vertical-align: center;
}

.main {
    box-shadow: inset 0 0 20px darkgray;
}

.footer {
    /* box-shadow: inset 0 0 20px skyblue; */
    margin: 48px 0;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.side-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 310px;
    height: 100%;
    box-shadow: inset 0 0 20px dodgerblue;
    background-color: white;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;

    z-index: 1000; 
    padding: 18px 18px 0 42px;
    box-sizing: border-box;

    opacity: 0; 
    visibility: hidden;

}

.side-bar.active {
    opacity: 1; /* 완전히 보임 */
    transition: opacity 0.5s ease-in-out; 
    visibility: visible; 
    
}  



.side-bar-header {
    box-shadow: inset 0 0 20px gold;
}

.side-bar-header img {
    cursor: pointer;
}

/* Commons */
.btn-black {
    border-radius: 30px;
    padding: 6px 16px;
    /* box-sizing: border-box; */
    text-align: center;
    background-color: var(--color-black);
    color: var(--color-white);
}

.btn-white {
    border-radius: 999px;
    border: 1px solid var(--CACACB, #CACACB);
    padding: 6px 16px;
    /* box-sizing: border-box; */
    text-align: center;
    background-color: var(--color-white);
    color: var(--color-black);
}

h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 120%;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 175%;
} 

h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24.5px;
}

/* Design */
/* header */
.header-icons {
    box-shadow: inset 0 0 20px dodgerblue;
    display: flex;
    align-items: center;
}

.header-icons img {
    cursor: pointer;
}

/* side-bar */
/* side-bar-header*/
.side-bar-header-img {
    display: flex;
    justify-content: flex-end;
}

.side-bar-header-btn {
    display: flex;
    gap: 20px;
}

/* side-bar-main */
.side-bar-main {
    box-shadow: inset 0 0 20px pink;
    margin: 43px 0 50px;
}

.side-bar-menu h2, h4 {
    font-weight: 500;
}

/* side-bar-main-menu */
.menu-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

/* side-bar-main-info */
.info-items {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
}

/* main */
/* feature-1 */
.feature-1 {
    margin: 24px 0 92px;
    box-shadow: inset 0 0 20px green;
    /* display: flex;
    flex-direction: column;
    gap: 24px; */
}

.feature-1 img{
    /* aspect-ratio: 312/426; */
    width: 312px;
    height: 426px;
    object-fit: cover;
    /* margin-bottom: 24px; */
}

.feature-1-description {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.feature-1-description .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
}

/* feature-2 */
.feature-2 {
    box-shadow: inset 0 0 20px orange;
    /* display: flex;
    flex-direction: column;
    gap: 24px; */
}

/* feature-2-item-1 */
.feature-2-item-1 {
    margin: 24px 0 129px;
    display: flex;
    overflow-x: scroll;
    gap: 12px;
}

.card-img {
    aspect-ratio: 300/375;
    max-width: 300px;
    height: 375px;
    margin-bottom: 16px;
}

/* feature-2-item-2 */
.contents {
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* margin-bottom: 90px; */
}

.contents-img {
    width: 312px;
    height: 376px;
    object-fit: cover;
}

.contents h4:first-of-type {
    font-weight: 500;
}

.feature-2-item-2 .btn-black {
    margin: 24px 0 90px;
}

.service-item {
    /* box-shadow: inset 0 0 20px red; */
    border-top: 1px solid var(--color-gray-30);
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    /* align-items: center; */
}

.service-item p {
    font-weight: 500;
}

.service-item:nth-child(3) {
    border-bottom: 1px solid var(--color-gray-30);

}

.service-item img {
    cursor: pointer;
}

.terms {
    box-shadow: inset 0 0 20px pink;
    display: flex;
    flex-direction: column;
    gap: 10.25px;
}

.info {
    border-top: 1px solid var(--color-gray-30);
    margin-bottom: 48px;
    color: var(--color-gray-70);
}

