@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* css reset */
body {
    margin: unset;
    padding: unset;
}

h1, p {
    margin: unset;
    padding: unset;
    font-size: unset;
    font-weight: unset;
}

img {
    vertical-align: top;
    max-width: 100%;
}

button {
    all: unset;
}

/* CSS variables */
:root {
    /* colors */
    --color-description: #757575;
    --color-input: #707072;
    --color-white: #FFFF;
    --color-black: #111;
}

/* Typography */
:root {
    font-family: 'Pretendard';
}

/* Layout */
/* 중앙 정렬 */
.wrapper {
    max-width: 360px;
    margin: 0 auto;
}

.container {
    margin: 20px 36px;
}

/* Commons */
.header {
    /* margin-bottom: 26px; */
}

.main {
}

.title {
    /* width: 265px; */
    font-size: 28px;
    font-weight: 400;
    margin-top: 20px;
}

input {
    width: 100%;
    height: 56px;
    padding: 16px 12px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid var(--color-input);
    outline: none;
    font-size: 16px;
}

input[type='checkbox'] {
    margin-top: 20px;
    width: auto;
    height: auto;
}

.description {
    color: var(--color-description);
}

/* buttons */
.proceed, .previous {
    border-radius: 999px;
    padding: 12px 30px;
    box-sizing: border-box;
    text-align: center;
}

.previous {
    border: 1px solid var(--color-black);
}

.proceed {
    background: var(--color-black);
    color: var(--color-white);
}

/* signIn_main.html */
.signIn.main input {
    margin-top: 26px;
    margin-bottom: 46px;
}

.signIn.main .description {
    margin-bottom: 40px;
}

.input-email-container {
    position: relative;
    margin-bottom: 20px;
}

.input-email-container input:focus + .floating-label {
    position: absolute;
    top: 20%;
    left: 12px;
    transform: translateY(-50%);
    color: #aaa;
    transition: 0.3s ease all;
    pointer-events: none;
    font-size: 16px;

}

/* signIn_pwd.html */
.received_email {
    margin: 10px 0 26px;
}

.signIn.pwd p {
    margin: 20px 0 90px;
}

.password-container {
    position: relative;
}

.password-container img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: var(--color-description);
}

.signIn-pwd-btn {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

/* signUp_main */
.input-name-container {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 20px;
}

.input-name-container input {
    width: 50%;
}


.input-password-container input {
    width: 100%;
}

.pwd-warning {
    margin: 16px 8px 20px;
    font-size: 12px;
    font-weight: 400;
}

.signUp .proceed, .signUp .previous{
    margin-top: 48px;
    width: 100%;
}

/* signUp_term */

.signUp.term {
    margin-top: 26px;
}

.signUp.term .description{
    margin: 24px 0 36px;
}

.signUp.term .checkbox-container:nth-of-type(1) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 24px;
}