@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url(/variable.css);

/* css reset */
body {
  margin: unset;
  padding: unset;
}

h1,
p,
span {
  margin: unset;
  padding: unset;
  font-size: unset;
  font-weight: unset;
}

img {
  vertical-align: top;
  max-width: 100%;
}

button {
  all: unset;
}

/* Typography */
:root {
  font-family: 'Pretendard';
}

body {
  background-color: var(--color-grey-20);
}

/* Layout */
.wrapper {
  max-width: 360px;
  margin: 0 auto;
  background-color: var(--color-white);
  min-height: 100vh;
}

.container {
  margin: 0 36px;
  padding: 20px 0;
}

/* Commons */
.title {
  font-size: 28px;
  font-weight: 400;
  margin-top: 20px;
}

a {
  color: currentColor;
  text-decoration-thickness: 1px;
  padding-bottom: 2px;
}

/* 볼드 처리 된 a*/
b a {
  text-decoration-thickness: 1.5px;
}

/* input 공통*/
input:not([type='checkbox']) {
  width: 100%;
  height: 56px;
  padding: 16px 12px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid var(--color-grey-80);
  outline: none;
  font-size: 16px;
}

input:focus {
  border: 1px solid var(--color-black);
}

/* header 로고 클릭 */
.header img {
  cursor: pointer;
}
/* input-container */
.input-container {
  position: relative;
}

.input-container span {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: var(--color-grey-80);
  transition: all 0.3s ease;
  background-color: var(--color-white);
}

.input-container input:focus ~ span {
  top: -10%;
  left: 12px;
  transform: translateY(0);
  transition: all 0.3s ease;
}

/* checkbox-container */
.checkbox-container {
  display: flex;
  margin-top: 20px;
}

.check {
  display: none;
}

.check-label {
  display: inline-block;
  width: 21px;
  height: 21px;
  padding-left: 10px;
  background: url(../../assets/images/auth_checkbox_blank.svg) no-repeat;
}

.check:checked + .check-label {
  background: url(../../assets/icons/checkbox.svg) no-repeat;
}

.description {
  color: var(--color-grey-90);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

/* buttons */
.signIn.pwd .button-box[data-theme='white'] {
  border-radius: 30px;
  border: 1px solid var(--color-black);
}

/* Design */
/* signIn_main.html */
.signIn.main {
  margin-top: 26px;
}

.signIn.main .input-container {
  margin-bottom: 46px;
}

.signIn.main .description {
  margin-bottom: 40px;
}

/* signIn_pwd.html */
.received_email {
  margin: 10px 0 26px;
}

.signIn.pwd input {
  padding: 16px 40px 16px 12px;
}
.signIn.pwd p {
  margin: 20px 0 90px;
}

.input-container.pwd img {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.signIn-pwd-btn {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}

/* signUp_main */
.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin: 20px 0;
}

.flex-container .input-container {
  flex: 1;
}

.pwd-warning {
  margin: 16px 8px 20px;
  font-size: 12px;
  font-weight: 400;
}

.pwd-warning div {
  margin-top: 8px;
}

.pwd-warning span {
  color: var(--color-grey-90);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

.signUp-main .checkbox-container {
  margin-bottom: 48px;
}

/* calendar icon custom */
input[type='date'] {
  position: relative;
  background: url(../../assets/icons/calendar.svg) no-repeat right 15px center;
  padding-left: 10px;
  font-family: 'Pretendard';
}

/* 기존 placeholder 투명 처리*/
input[type='date']::-webkit-clear-button,
input[type='date']::-webkit-inner-spin-button {
  display: none;
}

/* 기존 calendar icon 투명처리 & 크기 조절*/
input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: pointer;
}

/* custom placeholder를 가상요소로 넣음*/
input[type='date']::before {
  content: attr(data-placeholder);
  width: 100%;
}

/* 유효한 값이 입력된다면 가상요소를 사라지게 함*/
input[type='date']:valid::before {
  display: none;
}

input[data-placeholder]::before {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  background: url(../../assets/icons/calendar.svg) no-repeat right 26px center
    var(--color-white);
  font-family: 'Pretendard';
  color: var(--color-grey-80);
}

/* signUp_term */
.signUp.term {
  margin-top: 26px;
}

.signUp.term p:first-of-type ~ p {
  margin: 24px 0 36px;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-grey-90);
}

.signUp.term .checkbox-container:nth-of-type(1) {
  border-bottom: 1px solid var(--color-grey-50);
  padding-bottom: 24px;
}

.terms-btn-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
