<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 14px;
    padding-right: 24px;
    max-width: 360px;
    margin: 0 auto;
  }

  .header .logo {
    cursor: pointer;
  }

  .header-controls {
    display: flex;
    gap: 4px;
  }

  .header-controls img {
    cursor: pointer;
  }
</style>

<header class="header">
  <img class="logo" src="/src/assets/icons/logo.svg" alt="nike logo" />
  <div class="header-controls">
    <img src="/src/assets/icons/search.svg" alt="search" />
    <img src="/src/assets/icons/user.svg" alt="user" />
    <img src="/src/assets/icons/bag-36.svg" alt="bag" />
    <img id="menuBtn" src="/src/assets/icons/menu.svg" alt="menu" />
  </div>
</header>
