/* Resets */
body,
p,
ul {
  margin: unset;
  padding: unset;
  font-size: unset;
  font-weight: unset;
}

h1 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

li {
  list-style-type: none;
}

button {
  all: unset;
  display: block;
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Typography */
:root {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 62.5%;

  word-break: keep-all;
  overflow-wrap: break-word;
}

body {
  font-size: 1.4rem;
  background-color: var(--color-grey-20);
}

/* Variables */
:root {
  --color-white: #fff;
  --color-grey-20: #f5f5f5;
  --color-grey-40: #e5e5e5;
  --color-grey-60: #cacacb;
  --color-grey-70: #707072;
  --color-black: #111;
  --color-red: #9e3500;
}

/* Form Elements */
input {
  all: unset;
}

fieldset {
  all: unset;
  display: block;
}

input[type='radio'],
input[type='checkbox'] {
  pointer-events: none;
  position: absolute;
}

.filter-section {
  max-width: 360px;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: var(--color-white);
}

.filter-header {
  margin-bottom: 46px;
  display: flex;
  justify-content: space-between;
}

.filter-header-title {
  font-size: 1.6rem;
  padding-top: 16px;
  /* margin-top의 경우, 플렉스박스로 같이 묶인 이미지에도 같이 적용됨. */
  /* translateY(16px)의 경우, padding과 마찬가지로 동일하게 적용됨. */
}

.form-group {
  padding: 36px 0 33px 0;
  border-bottom: 1px solid var(--color-grey-40);
}

.form-group:last-child {
  border-bottom: unset;
}

.choice {
  display: flex;
  gap: 10px;
  cursor: pointer;
  color: var(--color-black);
  align-items: center;
}

.choice::before {
  content: '';
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1.5px solid var(--color-grey-70);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center 30px;
}

/* Radio-button */
.choice.type_radio::before {
  background-image: url(../../assets/images/dot.svg);
}

.choice.type_radio:has(:checked)::before {
  background-position: center center;
  border: 1.5px solid var(--color-black);
}

/* Check-box */
.choice.type_checkbox::before {
  border-radius: 4px;
  width: 20px;
  height: 20px;
  background-image: url(../../assets/images/check.svg);
}

.choice.type_checkbox:has(:checked)::before {
  background-position: center center;
  border: 1.5px solid var(--color-black);
}

.form-group-label {
  font-size: 1.6rem;
  font-weight: 500;
  display: block;
  margin-bottom: 26px;
}

.form-group-radio {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group-checkbox {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-area--2 {
  border-top: 1px solid var(--color-grey-40);
  margin: 0 -20px;
}

.btn-section {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 16px 0;
}

/* Layouts */
.categories {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-left: 4px;
}

.categories::-webkit-scrollbar {
  display: none;
}

/* Common */
.hidden {
  display: none;
}

/* Components */
.wrapper {
  max-width: 360px;
  margin: 0 auto;
  background-color: var(--color-white);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;
}

.nike-logo {
  margin-left: 14px;
}

.header-icons {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.main {
  padding-top: 80px;
}

.wall-header {
  margin-bottom: 15px;
}

.wall-header__title {
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  height: 52px;
  line-height: 52px;
}

.category {
  white-space: nowrap;
  height: 50px;
  line-height: 50px;
  padding: 0 16px;
  font-size: 1.6rem;
}

.results-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13.5px 20px 12.5px;
  font-size: 1.6rem;
  border-top: 1px solid var(--color-grey-40);
}

.results {
  font-weight: 400;
  color: var(--color-grey-70);
}

.btn--filters {
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-60);
  border-radius: 30px;
  padding: 3px 20px;
  box-sizing: border-box;
  font-weight: 500;
  height: 34px;
  line-height: 34px;
  display: flex;
  align-items: center;
  column-gap: 2px;
  font-weight: 500;
}

.l_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6px;
}

.product {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.product-cover {
  aspect-ratio: 1 / 1;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 12px 12px 0 12px;
}

.product-card__messaging {
  color: var(--color-red);
}

.product-card__titles {
  margin: 2px 0 1px;
}

.product-card__titles .title {
  font-weight: 500;
}

.product-card__titles .subtitle {
  color: var(--color-grey-70);
}

.product-card__count-wrapper .count-item {
  font-size: 1.4rem;
  color: var(--color-grey-70);
  margin-bottom: 12px;
}

.product-card__price-wrapper .price {
  font-size: 1.6rem;
}

.footer {
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.mobile-footer-menu {
  display: flex;
  flex-direction: column;
}

.mobile-footer-menu > li > ul {
  display: none;
}

.mobile-footer-menu > li.active > ul {
  display: block;
}

.mobile-footer-menu > li > .footer-menu-header::after {
  content: '';
  background-image: url(../../assets/icons/vector-down.svg);
  width: 24px;
  height: 24px;
}

.footer-menu-column {
  height: 64px;
  line-height: 64px;
  border-top: 1px solid var(--color-grey-40);
  color: var(--color-black);
}

.footer-menu-column:last-child {
  border-bottom: 1px solid var(--color-grey-40);
}

.footer-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-footer-list {
  color: var(--color-grey-70);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-weight: 500;
}

.korean-legal-footer-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  color: var(--color-grey-70);
  font-weight: 400;
  line-height: 24.5px;
  border-top: 1px solid var(--color-grey-40);
  padding-top: 24px;
}

.personal-info-policy {
  font-weight: 600;
}

.business-info-check,
.cs-number {
  text-decoration: underline;
}
