/* Resets */
body {
  margin: unset;
}

h1 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

fieldset,
legend {
  all: unset;
  display: block;
}

input {
  all: unset;
}

/* 실제 존재하지만, 마우스 액션도 x, 차지하고 있는 공간도 x 해서 안정성을 확보 */
input[type='radio'],
input[type='checkbox'] {
  pointer-events: none;
  position: absolute;
}

/* Typography */
:root {
  font-size: 62.5%;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  font-size: 1.6rem;
}

/* Components */
.filter-section {
  padding: 20px 20px 0 20px;
}

.filter-header {
}

.form-group-label {
  font-weight: 500;
}

.form-group-radio {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.choice {
  display: inline-flex;
  gap: 10px;
  cursor: pointer;
}

.choice::before {
  content: ' ';
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-grey-60);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center 20px;
  transition: all 0.4s;
}

/* radio button 일반 상태 */
.choice.type_radio::before {
  border-radius: 50%;

  /* 결국 이미지로 해당 부분 디자인 교체 */
  background-position: center center;
  background-image: url(images/circle.svg);
  background-size: 0;
}

/* radio button 선택된 상태 */
.choice.type_radio:has(:checked)::before {
  background-size: 8px;
}
