@import '../../../variable.css';

/* Reset */
body,
figure,
p {
  margin: unset;
}

ul {
  margin: unset;
  padding: unset;
}

h2,
h3,
h4 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

img {
  max-width: 100%;
  vertical-align: top;
}

button {
  all: unset;
}

a {
  color: unset;
  text-decoration: none;
}

.pointable {
  cursor: pointer;
}

.x-scroll::-webkit-scrollbar {
  display: none;
}

/* Typography */
:root {
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--color-black);
  font-size: 62.5%;
}

/* Variables */
:root {
  --white-space-m: 24px;
}

/* Layouts */
body {
  background-color: #f5f5f5;
}
.l_layout {
  max-width: 360px;
  margin: 0 auto;
  padding: 0 var(--white-space-m) 0 var(--white-space-m);
  box-sizing: border-box;
  position: relative;
  /* height: 100vh; */
  background-color: var(--color-white);
}

/* Components */
#header-box {
  min-height: 60px;
}

.header {
  margin: 0 calc(-1 * var(--white-space-m));
}

.item-info {
  font-weight: 500;
  margin-top: 80px;
  margin-bottom: var(--white-space-m);
}

.item-info .name {
  font-size: 2rem;
  height: 35px;
  line-height: 35px;
}

.item-info .category {
  font-size: 1.6rem;
  font-weight: 500;
  height: 20px;
  line-height: 20px;
  margin-bottom: 12px;
}

.price {
  display: flex;
  gap: 8px;
  font-size: 1.6rem;
}

.price .original {
  color: var(--color-grey-70);
  text-decoration: line-through;
}

.price .discount {
  color: var(--color-green);
}

.item-cover {
  margin: 0 calc(-1 * var(--white-space-m));
  margin-bottom: 42px;
}

.item-cover-main {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 3px;
  aspect-ratio: 36 / 45;
}

.item-cover-thumbnails {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.item-cover-thumbnails img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
}

.item-cover-thumbnails img.clicked {
  border: 1px solid black;
}

.size-title {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
  font-size: 1.6rem;
}

.size-title a {
  color: var(--color-grey-80);
}

.size-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 48px;
  gap: 7px;
  margin-bottom: 33px;
  font-size: 1.6rem;
}

.size-grid span {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-grey-40);
  border-radius: 4px;
}

.size-grid span:not(.size-disabled) {
  cursor: pointer;
}

.size-grid span.size-disabled {
  background-color: var(--color-grey-40);
  color: var(--color-grey-80);
}

.item-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 32px;
}

.button-box {
  min-height: 64px;
}

.item-buttons .btn img {
  margin-left: 4px;
}

.description {
  margin-top: 8px;
  line-height: 28px;
  word-break: keep-all;
  font-size: 1.6rem;
}

.description p {
  margin-bottom: 28px;
}

.list {
  padding-left: var(--white-space-m);
  margin-bottom: 32px;
}

.list a {
  border-bottom: 1px solid var(--color-black);
}

.description-more {
  font-weight: 500;
  border-bottom: 2px solid var(--color-black);
}

.foldable {
  border-bottom: 1px solid var(--color-grey-40);
}

.foldable-title {
  padding: 30px 0;
  display: flex;
  align-items: center;
}

.foldable .stars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.foldable .stars img {
  width: 13px;
  margin-left: 5px;
}

.foldable h2 {
  font-size: 2rem;
  line-height: 35px;
  font-weight: 500;
  flex-grow: 1;
  flex-basis: 0;
}

.foldable-contents h3 {
  line-height: 28px;
  margin-bottom: 12px;
  font-size: 1.6rem;
}

.foldable-contents .list {
  font-size: 1.2rem;
}

.foldable-contents .list li + li {
  margin-top: 1em;
}

.recommends {
  margin-top: 38px;
}

.recommends h3 {
  font-size: 2.4rem;
  line-height: 36px;
  font-weight: 500;
}

.recommends-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-bottom: 12px;
}

.recommends-buttons img:first-child {
  opacity: 0.3;
}

.recommends-items {
  display: flex;
  gap: 12px;
  margin-bottom: 50px;
  overflow-x: scroll;
}

.recommends-items .card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 196px;
  flex-shrink: 0;
}

.card-title {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: -12px;
  line-height: 25px;
}

.card-category {
  font-size: 1.4rem;
  color: var(--color-grey-80);
  line-height: 25px;
}

.card-price {
  font-size: 1.4rem;
  font-weight: 500;
}

.btn-bag {
  position: sticky;
  bottom: 0;
  min-width: 360px;
  margin-left: -24px;
  font-size: 1.6rem;

  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
  height: 67px;
  line-height: 67px;
  font-weight: 500;
  width: 100%;
}
